{% extends 'accounts/main.html' %} {% block content %}

<form action="" method='POST'>
    {% csrf_token %} {{form}} {{form1}}
    <button class="btn btn-primary" type="submit" id="crear"><a href="">aceptar</a></button>
</form>

{% endblock%}