{% extends 'accounts/main.html' %} {% load static %} {% block title %}Django Ajax CRUD{% endblock %} {% block content %}
<div class="container">
    <h1>PRODUCTOS</h1>
    <div class="row">
        <div class="col-md-4 ">
            <h3>ADD PRODUCT</h3>
            <form id="addUser" action="">



                <div class="form-group">
                    <input class="form-control" type="text" name="nombre" placeholder="nombre" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="precio" placeholder="precio" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="categoria" min="10" max="100" placeholder="categoria" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="descripcion" min="10" max="100" placeholder="descripcion" required>
                </div>
                <button class="btn btn-primary form-control" type="submit">SUBMIT</button>

            </form>
        </div>
        <div class="col-md-6">
            <h3>USERS</h3>
            <table id="userTable" class="table table-striped">
                <tr>
                    <th>nombre</th>
                    <th>precio</th>
                    <th>categoria</th>
                    <th ">descripcion</th>
                </tr>
                {% if productos %} {% for producto in productos %}
                <tr id="user-{{producto.id}} ">
                    <td class="usernombre userData " name="nombre "> {{producto.nombre}} </td>
                    <td class="userprecio userData " name="precio ">{{producto.precio}}</td>
                    <td class="usercategoria userData " name="categoria ">{{producto.categoria}}</td>
                    <td class="userdescripcion userData " name="descripcion ">{{producto.descripcion}}</td>
                    <td align="center ">
                        <button class="btn btn-success form-control " onClick="editUser({{producto.id}}) " data-toggle="modal " data-target="#myModal " >EDIT</button>
                        </td>
                        <td align="center ">
                            <button class="btn btn-danger form-control " onClick="deleteUser({{producto.id}) ">DELETE</button>
                        </td>
                </tr>
                {% endfor %} {% else %} No Users {% endif %}
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade " id="myModal " tabindex="-1 " role="dialog " aria-labelledby="myModalLabel ">
    <div class="modal-dialog " role="document ">
        <div class="modal-content ">
            <div class="modal-header ">
                <button type="button " class="close " data-dismiss="modal " aria-label="Close "><span aria-hidden="true ">×</span></button>
                <h4 class="modal-title " id="myModalLabel ">Update User</h4>
            </div>
            <form id="updateUser " action=" ">
                <div class="modal-body ">
                    <input class="form-control " id="form-id " type="hidden " name="formId " />
                    <label for="id ">id</label>
                    <input class="form-control " id="form-nombre " type="text " name="formNombre " />
                    <label for="address ">nombre</label>
                    <input class="form-control " id="form-descripcion " type="text " name="formDescripcion " />
                    <label for="age ">descripcion</label>
                    <input class="form-control " id="form-precio " type="number " name="formPrecio " min=10 max=100/>
                    <label for="age ">precio</label>
                    <input class="form-control " id="form-categoria " type="number " name="formCategoria " min=10 max=100/>
                    <label for="categoria ">categoria</label>
                </div>
                <div class="modal-footer ">
                    <button type="submit " class="btn btn-primary ">Save changes</button>
                    <button type="button " class="btn btn-default " data-dismiss="modal ">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <button class="button btn-success " id="botonaso ">aceptar</button>
</div>
{% endblock %} {% block javascript %} {% endblock javascript %}