{% extends 'accounts/main.html' %} {% block content %}

<form action="" method='POST'>
    <p>DESEA ELIMINAR EL PRODUCTO ? {{orden.customer}} </p>
    {% csrf_token %}
    <button class="btn btn-warning" type="submit"><a href= "{% url 'home' %} ">eliminar</a></button>
    <button class="btn btn-success"><a href="{% url 'home' %} ">volver</a></button>
</form>



{% endblock%}