{% extends 'accounts/main.html' %} {% block content %}


{{username}}



<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="total-orders">
                <div class="card-header">
                    <h5 class="card-title">Total Orders</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"> {{total_ordenes}} </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="orders-delivered">
                <div class="card-header">
                    <h5 class="card-title">Orders Delivered</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{delivered}} </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="orders-pending">
                <div class="card-header">
                    <h5 class="card-title">Orders Pending</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{pendiente}} </h3>
                </div>
            </div>
        </div>
    </div>





    <div class="row">
        <div class="col-md-5">
            <h5>CUSTOMERS:</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" href="{% url 'CrearCustomer' %}">Create Customer</a>
                <table class="table table-sm">
                    <tr>
                        <th></th>
                        <th>Customer</th>
                        <th>telefono</th>
                    </tr>
                    {% for customer in customers %}
                    <tr>
                        <th></th>
                        <th> {{customer.nombre}} </th>
                        <th> {{customer.telefono}} </th>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="col-md-7">
            <h5>LAST 5 ORDERS</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" href="{% url 'CrearOrden' %}">Create Order</a>
                <table class="table table-sm">
                    <tr>
                        <th>Product</th>
                        <th>Date Orderd</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>

                    {% for orden in ordenes %}
                    <tr>
                        <th> {{orden.producto}} </th>
                        <th> {{orden.created}} </th>
                        <th> {{orden.status}} </th>
                        <th>
                            <a href="{% url 'updateOrden' orden.id %}">update </a>
                        </th>
                        <th> <a href="{% url 'eliminarOrden' orden.id %}">delete</a> </th>
                    </tr>

                    {% endfor %}


                </table>
            </div>
        </div>

    </div>



    {% endblock %}