 {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">









    <style>
        body {
            background-color: #ebeff5;
        }
        
        #total-orders {
            background-color: #4cb4c7;
        }
        
        #orders-delivered {
            background-color: #7abecc;
        }
        
        #orders-pending {
            background-color: #7CD1C0;
        }
    </style>



</head>
<header>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top"> MERCADO

            </a>
        </div>
    </nav>

</header>


<body>




    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %} ">HOME</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'productos' %}">PRODUCTOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'customer' %}">CUSTOMER</a>
                    </li>
                    <!----   <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li> ---->

                </ul>
                <div class="text-white">
                    <span class="hellog-msg">HELLO {{request.user}}  </span>
                    <span> <a href= "{% url 'logout' %}">LOGOUT</a> </span>
                </div>
            </div>
        </div>
    </nav>

    {% block content %} {% endblock %}








</body>

<footer></footer>


<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="{% static 'js/productos.js' %}"></script>

{% block javascript %} {% endblock javascript %}

</html>