{% extends 'accounts/main.html' %} {% block content %}
{% load crispy_forms_tags %}
<br>

<form action="" method='POST' id="form">
    {% csrf_token %} {{form}}

    <button class="btn btn-success" type="submit">
    CREAR
    </button>


</form>
<hr>


<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Products</h5>
        </div>
        <div class="card card-body">
            <table class="table">

                <tr>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Price</th>
                </tr>
                {% for producto in productos %}

                <tr>
                    <th>{{producto.nombre}} </th>
                    <th>{{producto.categoria}} </th>
                    <th>{{producto.precio}} </th>

                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</div>


<!-- <script>

       

   const form = document.getElementById('form');
   form.addEventListener("submit", submitHandler);


   function submitHandler(e) { 
       e.preventDefault();
       $.ajax({
           type: "POST",
           url: "/productos",
           data: $('#form').serialize(),
           dataType: "json",
           success: function (data) {
                if (data.msg == 'success'){
                    alert('form hecho');
                }
               
           }
       });
   }





</script> -->


{% endblock %}