{% extends 'accounts/main.html' %} {% block content %}

<form action="" method='POST'>
    {{form}}
    <hr>
    <div class=conteiner-fluid>
        <button class="btn btn-warning" type="submit"><a href= "{% url 'home' %} ">aceptar cambio</a></button>
        <button class="btn btn-success"><a href="{% url 'home' %} ">volver</a></button>

    </div>

</form>



{% endblock%}